@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.as {
  background-color: red;
}

.as #nothing {
  color: blue;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

* a {
  text-decoration: none;
}

* a:visited {
  color: #2d6a4f;
}

* a:link {
  color: #2d6a4f;
}

* li {
  list-style: none;
}

*:focus {
  outline: none;
}

* img {
  width: 100%;
  height: 100%;
  display: block;
}

* .green {
  color: #25a244;
}

* .red {
  color: #f94144;
}

* #search-button {
  color: #ffffff;
  font-size: 1.5rem;
}

@media (min-width: 400px) {
  * #root {
    margin: auto;
    position: relative;
    overflow: scroll;
    height: 800px;
    max-width: 400px;
    border: 10px solid #2d6a4f;
    border-radius: 30px;
  }
  * .App {
    min-height: 100%;
  }
  * #root::-webkit-scrollbar {
    display: none;
  }
  * #nav-bar {
    max-width: 90%;
  }
}

body {
  color: #161a1d;
  position: relative;
  height: 100vh;
}

body .MuiDialogActions-root {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .MuiDialog-paperWidthSm {
  max-width: 350px;
}

body .MuiDialog-scrollPaper {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
}

body #empty {
  width: 90%;
  border-radius: 10px;
  background-color: #f8f9fa;
  padding: 1.7rem;
  font-style: italic;
  margin: 1rem auto;
}

#nav-bar {
  height: 50px;
  max-width: 380px;
  width: 380px;
  background-color: #2d6a4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  margin: 0 auto;
  top: 740px;
}

#nav-bar .nav-link {
  color: #ffffff;
  font-size: 1.5rem;
}

.buy-btn,
.sell-btn {
  padding: 0.3rem 0.8rem;
  border: none;
  color: #ffffff;
  margin: 0 0.3rem;
  border-radius: 3px;
}

.buy-btn {
  background-color: #25a244;
}

.sell-btn {
  background-color: #f94144;
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;
}

#home #user-info_search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  border-radius: 50px;
  background-color: #f8f9fa;
  margin: 2rem auto 1rem auto;
  height: 35px;
}

#home #user-info_search-wrapper #user-info {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home #user-info_search-wrapper #user-info .user-picture {
  height: 30px;
  width: 30px;
  margin-left: 1rem;
  border-radius: 100%;
}

#home #user-info_search-wrapper #user-info .username {
  margin-left: 0.5rem;
  font-weight: 400;
}

#home #user-info_search-wrapper #search button {
  font-size: 1.5rem;
  color: #2d6a4f;
}

#home #account {
  width: 90%;
  border-radius: 10px;
  background-color: #f8f9fa;
  margin: 0 auto 1rem auto;
  padding: 0.5rem 0 0.5rem 0;
}

#home #account #balance,
#home #account #cash {
  margin-left: 0.5rem;
}

#home #account #balance {
  font-size: 1.4rem;
}

#home #account #balance .amount {
  font-size: 1.7rem;
}

#home #account #cash {
  font-size: 1rem;
}

#home #account #cash .amount {
  font-size: 1.4rem;
}

#home #portfolio-account-wrapper {
  width: 90%;
  border-radius: 10px;
  background-color: #f8f9fa;
  padding: 0.5rem 0;
  margin: 0 auto 1rem auto;
}

#home #portfolio-account-wrapper .ticker-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

#home #portfolio-account-wrapper .ticker-info:nth-child(odd) {
  background-color: #eff1f4;
}

#home #portfolio-account-wrapper .ticker-info .logo-symbol-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.3%;
}

#home #portfolio-account-wrapper .ticker-info .logo-symbol-wrapper .logo {
  height: 31px;
  width: 31px;
  border-radius: 100%;
  margin-right: 0.3rem;
}

#home #portfolio-account-wrapper .ticker-info .logo-symbol-wrapper .symbol-name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 0.3rem;
}

#home #portfolio-account-wrapper .ticker-info .logo-symbol-wrapper .symbol-name-wrapper .symbol {
  font-size: 14px;
  font-weight: 500;
}

#home #portfolio-account-wrapper .ticker-info .logo-symbol-wrapper .symbol-name-wrapper .share {
  font-size: 13px;
  font-weight: 300;
}

#home #portfolio-account-wrapper .ticker-info .intra-percent-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 33.3%;
}

#home #portfolio-account-wrapper .ticker-info .intra-percent-wrapper .price {
  font-size: 14px;
}

#home #portfolio-account-wrapper .ticker-info .intra-percent-wrapper .percent {
  font-size: 12px;
}

#home #portfolio-account-wrapper .ticker-info .price-percent-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 33.3%;
}

#home #portfolio-account-wrapper .ticker-info .price-percent-wrapper .price {
  font-size: 14px;
}

#home #portfolio-account-wrapper .ticker-info .price-percent-wrapper .percent {
  font-size: 12px;
}

#home #did-search {
  position: absolute;
  padding: 0.8rem;
  height: 5.5rem;
  background: #2d6a4f;
  color: #ffffff;
  top: 2.5rem;
  right: 1.5rem;
  border-radius: 10px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home #did-search .message {
  border-bottom: 1px dashed #ffffff;
  padding-bottom: 5px;
}

#home #did-search .arrow {
  padding: 0.4rem;
  top: -5px;
  right: 1rem;
  position: absolute;
  background: #2d6a4f;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 10;
}

#home #did-search .confirm-did-search {
  -ms-flex-item-align: end;
      align-self: flex-end;
  bottom: 0.5rem;
  right: 1rem;
  font-size: 0.8rem;
  padding: 0.2rem;
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

#home .show {
  display: none !important;
}

#stock-details {
  position: relative;
  width: 100%;
  margin-bottom: 5rem;
}

#stock-details .top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0 0.7rem 0;
  border-bottom: 1px solid #2d6a4f;
}

#stock-details .top-wrapper i {
  font-size: 1.4rem;
}

#stock-details .top-wrapper .ticker {
  font-size: 1.3rem;
}

#stock-details .top-wrapper .favorite-star {
  color: #2d6a4f;
}

#stock-details .price_btn-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0.7rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#stock-details .price_btn-wrapper .price-percent-wrapper .percent_indicator-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#stock-details .price_btn-wrapper .price-percent-wrapper .price {
  font-size: 1.5rem;
}

#stock-details .price_btn-wrapper .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#stock-details .price_btn-wrapper .btn-wrapper button {
  cursor: pointer;
}

#stock-details .user-position {
  width: 90%;
  border-radius: 10px;
  background-color: #f8f9fa;
  margin: 0 auto;
  padding: 0.5rem 0 0.5rem 1rem;
}

#stock-details #chart {
  width: 90%;
  border-radius: 10px;
  background-color: #f8f9fa;
  height: 400px;
  margin: 1rem auto;
}

#stock-details #chart #chart-period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 0 auto;
}

#stock-details #chart #chart-period .period-btn {
  border: none;
  padding: 0 0.5rem;
  background-color: #e1e1e1;
  border-radius: 3px;
  cursor: pointer;
}

#stock-details #financials {
  width: 90%;
  border-radius: 10px;
  background-color: #f8f9fa;
  margin: 1rem auto;
  padding: .5rem 0 1rem 0;
  font-size: 0.9rem;
}

#stock-details #financials .heading {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0rem 0.3rem 0.3rem 0.7rem;
}

#stock-details #financials .stats {
  margin: 0 0.7rem;
}

#stock-details #financials .stats-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 0;
  font-weight: 400;
  border-bottom: dashed 1px #a6a6a6;
}

#stock-details #financials .stats-line:last-child {
  border-bottom: none;
}

#stock-details .news {
  width: 90%;
  border-radius: 10px;
  background-color: #f8f9fa;
  height: 300px;
  margin: 1rem auto;
}

#transactions {
  margin: 0.5rem 0.5rem;
  padding-bottom: 4rem;
}

#transactions .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  padding: 0.5rem 0;
  width: 100%;
}

#transactions .heading .dummy {
  -ms-grid-column-align: center;
      justify-self: center;
}

#transactions .day-transaction .date {
  font-size: 0.8rem;
  padding: 0.1rem 0 0.1rem 0.4rem;
  background-color: #d9d9d9;
}

#transactions .day-transaction .transaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 0.7rem;
  padding: 0 0.2rem 0.2rem 0;
  border-bottom: 1px solid #cdcdcd;
}

#transactions .day-transaction .transaction:last-child {
  border: none;
}

#transactions .day-transaction .transaction .action {
  font-size: 1rem;
}

#transactions .day-transaction .transaction .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#transactions .day-transaction .transaction .info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  margin-left: 0.3rem;
}

#transactions .day-transaction .transaction .info-wrapper .price,
#transactions .day-transaction .transaction .info-wrapper .numOfShares,
#transactions .day-transaction .transaction .info-wrapper .ticker {
  margin: 0 0.1rem;
  color: black;
}

#transactions .day-transaction .transaction .lower-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.5rem;
  margin-left: 1.3rem;
}

#watchlist {
  height: 100vh;
}

#watchlist .heading {
  font-size: 1.7rem;
  text-align: center;
  padding: 1rem 0;
}

#watchlist #list-wrapper {
  width: 90%;
  border-radius: 10px;
  background-color: #f8f9fa;
  margin: 0 auto 1rem auto;
}

#watchlist .stock-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0;
}

#watchlist .stock-info:nth-child(even) {
  background-color: #f2f4f6;
}

#watchlist .stock-info .ticker-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding-left: 1rem;
}

#watchlist .stock-info .ticker-logo-wrapper .logo {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-right: 0.3rem;
}

#watchlist .stock-info .price-percent-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
  padding-right: 1rem;
}

#watchlist .stock-info .price-percent-wrapper .price {
  font-size: 14px;
}

#watchlist .stock-info .price-percent-wrapper .percent {
  font-size: 12px;
}

#account-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#account-settings #info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

#account-settings #info-wrapper img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 0.5rem;
}

#account-settings #info-wrapper .username {
  font-size: 1.3rem;
}

#account-settings #link-wrapper {
  width: 90%;
  border-radius: 10px;
  background-color: #f8f9fa;
  margin-top: 2rem;
}

#account-settings #link-wrapper .link {
  padding: 0.5rem 0;
}

#account-settings #link-wrapper .link .fa-list-alt {
  margin: 0 0.7rem;
  padding: 0.5rem 0;
}

#account-settings #user-info {
  width: 90%;
  border-radius: 10px;
  background-color: #f8f9fa;
  margin: 1rem auto;
}

#account-settings #user-info div {
  margin-left: .5rem;
  padding: .3rem 0;
}

#account-settings #signout {
  width: 90%;
  margin: 1rem auto;
  text-align: center;
}

#account-settings #signout button {
  color: #ffffff;
  margin: 0 auto;
  width: 80%;
  border: none;
  background-color: #f53402;
  padding: 0.25rem 0;
  border-radius: 5px;
}

#community {
  height: 100vh;
}

#community #panel {
  width: 90%;
  border-radius: 10px;
  background-color: #f8f9fa;
  margin: 1rem 1rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

#community #chat-screen {
  width: 90%;
  border-radius: 10px;
  background-color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 75vh;
  margin: 0 auto;
  padding-bottom: 5rem;
  overflow: scroll;
}

#community #chat-screen #chat-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 30px);
  width: 100%;
}

#community #chat-screen #chat-wrapper .chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
  margin: 0.2rem;
  overflow: hidden;
}

#community #chat-screen #chat-wrapper .chat .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#community #chat-screen #chat-wrapper .chat .user .user-picture {
  width: 17px;
  height: 17px;
  border-radius: 100%;
}

#community #chat-screen #chat-wrapper .chat .user .username {
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 3px;
}

#community #chat-screen #chat-wrapper .chat .chat-content {
  font-size: 0.8rem;
  width: 100%;
  word-wrap: break-word;
  margin-left: 20px;
}

#community #chat-screen #chat-input {
  margin: 0px auto;
  height: 30px;
  width: 100%;
  border: dashed 1px grey;
  border-radius: 20px;
}

#community #chat-screen #chat-input input {
  border: none;
  height: 30px;
  width: 90%;
  padding-left: 1rem;
  letter-spacing: 1px;
  background-color: transparent;
}

#community #chat-screen #chat-input ::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
}

#community #chat-screen #chat-input :-ms-input-placeholder {
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
}

#community #chat-screen #chat-input ::-ms-input-placeholder {
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
}

#community #chat-screen #chat-input ::placeholder {
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
}

#community #chat-screen #chat-input button {
  border: none;
  background-color: transparent;
}

#community #chat-screen .chat {
  padding: 0.2rem;
  width: 80%;
}

#news {
  width: 90%;
  border-radius: 10px;
  background-color: #f8f9fa;
  margin: 0 auto 5rem auto;
  padding: 0 0 0rem 0;
}

#news .news-heading {
  padding: .3rem 0px;
  text-align: center;
  font-style: italic;
  font-weight: 500;
}

#news .news-piece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .9rem .9rem;
}

#news .news-piece:nth-child(even) {
  background-color: #eceff2;
}

#news .news-piece:last-child {
  border-radius: 0 0 10px 10px;
}

#news .news-piece .headline {
  width: 65%;
  text-align: justify;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 0.9rem;
}

#news .news-piece .news-img {
  width: 30%;
  border-radius: 2px;
}

#news .news-piece .time_readmore-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  font-size: 0.9rem;
}

#news .news-piece .time_readmore-wrapper .time {
  font-size: 0.7rem;
  font-weight: 300;
}

#search-modal {
  overflow: scroll;
  max-width: 350px;
  max-height: 500px;
}

#search-modal::-webkit-scrollbar {
  display: none;
}

#search-modal .search-heading {
  margin: 0 0 0.4rem 0;
  font-size: 1.2rem;
  text-align: center;
}

#search-modal .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#search-modal #found-stock_history-container {
  margin-top: 0.3rem;
}

#search-modal #found-stock_history-container .search-result {
  padding: 0.3rem 0.3rem;
}

#search-modal #found-stock_history-container .search-result:nth-child(even) {
  background-color: #e9ecef;
}

#search-modal #found-stock_history-container #clear-history-btn {
  cursor: pointer;
}

#search-modal #found-stock_history-container .history_trending {
  border: none;
  margin: 0.5rem 0;
  padding: 0.2rem 0.4rem;
  font-style: italic;
}

#buy-modal,
#sell-modal {
  max-width: 350px;
  max-height: 400px;
}

#buy-modal .ticker-info-wrapper,
#sell-modal .ticker-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#buy-modal .ticker-info-wrapper .ticker,
#sell-modal .ticker-info-wrapper .ticker {
  padding: 0.2rem 0.5rem;
  width: 5rem;
  border-radius: 2px;
  background-color: #ffba08;
  text-align: center;
}

#buy-modal .ticker-info-wrapper .price_percent_indicator-wrapper,
#sell-modal .ticker-info-wrapper .price_percent_indicator-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#buy-modal .ticker-info-wrapper .price_percent_indicator-wrapper .price,
#sell-modal .ticker-info-wrapper .price_percent_indicator-wrapper .price {
  border-radius: 2px;
  text-align: center;
  margin-right: 0.2rem;
}

#buy-modal .ticker-info-wrapper .price_percent_indicator-wrapper .percent,
#sell-modal .ticker-info-wrapper .price_percent_indicator-wrapper .percent {
  border-radius: 2px;
  font-size: 13px;
}

#buy-modal .ticker-info-wrapper .price_percent_indicator-wrapper .green,
#sell-modal .ticker-info-wrapper .price_percent_indicator-wrapper .green {
  color: #25a244;
}

#buy-modal .ticker-info-wrapper .price_percent_indicator-wrapper .red,
#sell-modal .ticker-info-wrapper .price_percent_indicator-wrapper .red {
  color: #f94144;
}

#buy-modal .input-wrapper,
#sell-modal .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem 0 0 0;
}

#buy-modal .input-wrapper #buy-btn-modal,
#buy-modal .input-wrapper #sell-btn-modal,
#sell-modal .input-wrapper #buy-btn-modal,
#sell-modal .input-wrapper #sell-btn-modal {
  margin: 0.7rem 0 0.7rem 0;
  padding: 0.3rem 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 7rem;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
  width: 100%;
  background-color: #2d6a4f;
}

.loading .lds-grid {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}

.loading .lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation: lds-grid 1.2s linear infinite;
          animation: lds-grid 1.2s linear infinite;
}

.loading .lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loading .lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.loading .lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.loading .lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.loading .lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.loading .lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.loading .lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.loading .lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.loading .lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

@-webkit-keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

#login-page {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login-page #main-wrapper {
  height: 80%;
}

#login-page #main-wrapper #square {
  height: 230px;
  width: 230px;
  background-color: #2d6a4f;
}

#login-page #main-wrapper #square #square-text {
  color: #ffffff;
  font-size: 1.7rem;
  text-align: right;
  margin-right: 1rem;
}

#login-page #main-wrapper #google-link {
  margin-top: 2rem;
  background-color: #ea4335;
  padding: 0.5rem 0.3rem;
  text-align: center;
}

#login-page #main-wrapper #google-link a {
  color: #ffffff;
}

#login-page #main-wrapper #google-link span {
  margin-right: 0.3rem;
}

#login-page #main-wrapper #anonymous-link {
  margin-top: 1rem;
  background-color: #0077b5;
  padding: 0.5rem 0.3rem;
  text-align: center;
}

#login-page #main-wrapper #anonymous-link a {
  color: #ffffff;
}

#login-page #main-wrapper #anonymous-link span {
  margin-right: 0.3rem;
}

#login-page #main-wrapper #github-link {
  margin-top: 1rem;
  background-color: black;
  padding: 0.5rem 0.3rem;
  text-align: center;
}

#login-page #main-wrapper #github-link a {
  color: #ffffff;
}

#login-page #main-wrapper #github-link span {
  margin-right: 0.3rem;
}
