@mixin flex($direction,$x,$y) {
   display: flex;
   flex-wrap:wrap;
   
   flex-direction: $direction;
   justify-content: $x;
   align-items: $y;
}

// =================================

@mixin component-container ($border-radius, $width, $bg-color) {
   width: $width;
   border-radius: $border-radius;
   background-color: $bg-color;
}

