
$signature: #ffba08;

$primary-color: #2d6a4f ;

$second-color: #01497c;

$white: #ffffff;

$red: #f94144;

$green: #25a244;

$light-bg: #f8f9fa;

$text-color: #161a1d;

$grey: #222222;

// FONT SIZE

$nav-icon: 1.5rem;