#account-settings {
   @include flex(column, flex-start, center);
   #info-wrapper {
      @include flex(row, flex-start, center);
      margin: 1rem 0;
      img {
         height: 40px;
         width: 40px;
         border-radius: 100%;

         margin-right: 0.5rem;
      }

      .username {
         font-size: 1.3rem;
      }
   }

   #link-wrapper {
      @include component-container(10px, 90%, $light-bg);
      margin-top: 2rem;
      .link {
         padding: 0.5rem 0;
         .fa-list-alt {
            margin: 0 0.7rem;
            padding: 0.5rem 0;
         }
      }
   }

   #user-info {
      @include component-container(10px, 90%, $light-bg);

   }

   #signout {
      width: 90%;
      margin: 1rem auto;
      text-align: center;
      button {
         color: $white;
         margin: 0 auto;
         width: 80%;
         border: none;
         background-color: lighten(#dc2f02, 5%);
         padding: 0.25rem 0;
         border-radius: 5px;
      }
   }
}
