#stock-details {
   position: relative;
   width: 100%;
   margin-bottom: 5rem;

   .top-wrapper {
      @include flex(row, space-between, center);
      width: 90%;
      margin: 0 auto;
      padding: 1rem 0 0.7rem 0;

      i {
         font-size: 1.4rem;
      }

      .ticker {
         font-size: 1.3rem;
      }

      .favorite-star {
         color: $primary-color;
      }
      border-bottom: 1px solid $primary-color;
   }

   .price_btn-wrapper {
      width: 90%;
      margin: 0 auto;
      padding: 0.7rem 0 1rem 0;

      @include flex(row, space-between, center);
      .price-percent-wrapper {
         .percent_indicator-wrapper {
            @include flex(row, flex-start, center);
         }
         .price {
            font-size: 1.5rem;
         }
      }
      .btn-wrapper {
         @include flex(row, space-between, center);
      }
   }

   .user-position {
      @include component-container(10px, 90%, $light-bg);
      margin: 0 auto;
      padding: 0.5rem 0 0.5rem 1rem;
   }

   #chart {
      @include component-container(10px, 90%, $light-bg);
      height: 400px;
      margin: 1rem auto;

      #chart-period {
         @include flex(row, space-around, center);
         width: 70%;
         margin: 0 auto;

         .period-btn {
            border: none;
            padding: 0 0.5rem;
            background-color: lighten($grey, 75%);
            border-radius: 3px;
         }
      }
   }

   #financials {
      @include component-container(10px, 90%, $light-bg);
      margin: 1rem auto;
      padding: .5rem 0 1rem 0;

      .heading {
         text-align: center;
         font-size: 1.1rem;
         font-weight: 600;
         margin: 0rem 0.3rem 0.3rem 0.7rem;
      }

      .stats {
         margin: 0 0.7rem;
         &-line {
            @include flex(row, space-between, center);
            padding: 3px 0;
            font-weight: 400;
            border-bottom: dashed 1px lighten(grey, 15%);

            &:last-child {
               border-bottom: none;
            }
         }
      }
      font-size: 0.9rem;
   }

   .news {
      @include component-container(10px, 90%, $light-bg);
      height: 300px;
      margin: 1rem auto;
   }
}
