#search-modal {
   &::-webkit-scrollbar {
      display: none;
   }

   overflow: scroll;
   max-width: 310px;
   max-height: 470px;

   .search-heading {
      margin: 0 0 0.4rem 0;
      font-size: 1.2rem;
      text-align: center;
   }
   .search-bar {
      @include flex(row, center, flex-start);
   }

   #found-stock_history-container {
      margin-top: 0.3rem;
      .search-result {
         padding: 0.3rem 0.3rem;
         &:nth-child(even) {
            background-color: darken($light-bg, 5%);
         }
      }
      
      #clear-history-btn {
         cursor: pointer;
      }

      .history_trending {
         border: none;
         margin: 0.5rem 0;
         padding: 0.2rem 0.4rem;
         font-style: italic;
      }
   }
}
