

#search-modal {
   overflow: scroll;
   .search-bar {
      @include flex(row, center, flex-start);
   }

   #found-stock-container {
      margin-top: .3rem;
      .search-result {
         padding: 0.3rem 0.3rem;
         &:nth-child(even) {
            background-color: darken($light-bg, 5%);
         }
      }
   }
}
