#search-modal {
   overflow: scroll;
   .search-bar {
      @include flex(row, center, flex-start);
   }

   #found-stock_history-container {
      margin-top: 0.3rem;
      .search-result {
         padding: 0.3rem 0.3rem;
         &:nth-child(even) {
            background-color: darken($light-bg, 5%);
         }
      }

      .history_trending {
         border: none;
         margin: 0.5rem 0;
         padding: 0.2rem 0.4rem;
         font-style: italic;
      }
   }
}
