* {
    // ====== GLOBAL RESET =============

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $second-font;

    a {
        text-decoration: none;
        &:visited {
            color: $primary-color;
        }

        &:link {
            color: $primary-color;
        }
    }

    li {
        list-style: none;
    }

    &:focus {
        outline: none;
    }

    img {
        width: 100%;
        height: 100%;
        display: block;
    }

    // ====== GLOBAL CLASSES =============
    .green {
        color: $green;
    }

    .red {
        color: $red;
    }

    #search-button {
        color: $white;
        font-size: $nav-icon;
    }
}

body {
    color: $text-color;
    position: relative;

    .MuiDialogActions-root {
        justify-content: center;
    }

    #empty {
        @include component-container(10px, 90%, $light-bg);
        padding: 1.7rem;
        font-style: italic;
        margin: 1rem auto;
    }
}
