#nav-bar {
   height: 50px;
   max-width: 380px;
   width: 380px;
   background-color: $primary-color;
   @include flex(row, space-around, center);

   position: fixed;
   margin: 0 auto;
   top: 740px;
   // border-radius: 40px;

   .nav-link {
      color: $white;
      font-size: $nav-icon;
   }
}

