#nav-bar {
   height: 50px;
   width: 333px;
   background-color: $primary-color;
   @include flex(row, space-around, center);

   position: fixed;
   margin: 0 auto;
   top: 640px;

   .nav-link {
      color: $white;
      font-size: $nav-icon;
   }
}
